<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098787848556-ob3e1q54itdpphutrddvdpl3la2smtfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098787848556-ob3e1q54itdpphutrddvdpl3la2smtfn</string>
	<key>API_KEY</key>
	<string>AIzaSyCgQujNiRyiT0QQ6ebgMB6C3BYUBoAJsZY</string>
	<key>GCM_SENDER_ID</key>
	<string>1098787848556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.note</string>
	<key>PROJECT_ID</key>
	<string>note-flutter-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>note-flutter-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098787848556:ios:1131667f96d6b6b114f349</string>
</dict>
</plist>